.btn {
  height: 2.9rem;
  padding: 1rem;
  border-radius: 10px;
}
.btn-solid-main {
  background-color: var(--bg-main-color);
  border: 1px solid var(--bg-main-color);
  color: var(--text-white-color);
}
.btn-outline-main {
  background-color: transparent;
  border-color: var(--bg-main-color);
  color: var(--text-main-color);
}
.remove-address {
  top: -20px;
  left: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #f7316430 !important;
  color: #f73164 !important;
}
.disabled {
  pointer-events: none;
  background-color: #f2f2f2;
}
.valid {
  background-color: #0352971a;
}
