<div id="vehicles">
  <div class="d-md-flex d-none justify-content-between align-items-center flex-wrap gap-3">
    <div class="d-flex align-items-center gap-3 p-0">
      <h5 class="mb-0">
        {{'dashboard.vehicles.vehicles'|translate}}
      </h5>
      <!-- <h4 class="mb-0 text-capitalize">{{'dashboard.employees.employees'|translate}}</h4>
      <span class="badge badge-main text-main-color d-flex justify-content-center align-items-center">
        {{vehiclesCount}}
      </span> -->
    </div>
    <div class="d-none gap-3 flex-lg-nowrap flex-wrap">
      <!-- Add Customer -->
      <button class="btn btn-solid-main d-flex align-items-center gap-2 text-nowrap" (click)="addEditItem()">
        <i class="pi pi-plus"></i>
        <span>{{'dashboard.vehicles.addVehicle'|translate}}</span>
      </button>
      <!-- Filter Button -->
      <button [class.disabled-actions]="isLoadingVehiclesList" *ngIf="vehiclesList.length>0 || ifFilteration()"
        [class.d-none]="dataStyleType=='list'" class="btn btn-solid-main d-flex align-items-center gap-2"
        (click)="filterItem()">
        <i class="pi pi-filter"></i>
      </button>
      <!-- Data style list 0or grid (table or card) -->
      <div [class.disabled-actions]="isLoadingVehiclesList" *ngIf="vehiclesList.length>0 || ifFilteration()"
        class="data-style d-md-flex d-none align-items-center gap-2 p-2">
        <a class="scaleX-rtl" [class.active]="dataStyleType=='list'" (click)="changeDateStyle('list')">
          <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
        </a>
        <a class="scaleX-rtl" [class.active]="dataStyleType=='grid'" (click)="changeDateStyle('grid')">
          <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
        </a>
      </div>
      <!-- Search Handler -->
      <div *ngIf="vehiclesList.length>0 || ifFilteration()" [class.disabled-actions]="isLoadingVehiclesList"
        class="search" role="search">
        <div class="input-group bg-white-color d-flex flex-nowrap">
          <span class="input-group-text border-0" id="basic-addon1">
            <i class="pi pi-search text-muted-color"></i>
          </span>
          <span class="p-input-icon-right d-inline-block w-100">
            <i *ngIf="isLoadingSearch" class="pi pi-spin pi-spinner"></i>
            <i *ngIf="!isLoadingSearch&&search.value" class="pi pi-times text-danger pointer"
              (click)="clearSearch(search)"></i>
            <input type="text" class="form-control border-0 bg-transparent px-1" #search
              (keyup)="handleSearch(search.value)" placeholder="{{'placeholders.search' | translate}}"
              [(ngModel)]="searchKeyword" [readOnly]="isLoadingSearch" aria-label="search"
              aria-describedby="basic-addon1">
          </span>
        </div>
      </div>
      <!-- Clear -->
      <button *ngIf="vehiclesList.length>0 || ifFilteration()" [class.disabled-actions]="isLoadingVehiclesList"
        class="btn btn-outline-main d-flex align-items-center gap-2 text-nowrap" (click)="clearTable()">
        <i class="pi pi-refresh"></i>
        <span>{{'general.reset'|translate}}</span>
      </button>
    </div>
  </div>
  <div class="d-none d-block">
    <div class="d-flex justify-content-between gap-3 flex-wrap title-header">
      <div class="d-flex align-items-center gap-2">
        <h4 class="mb-0 text-capitalize">{{'dashboard.customers.customers'|translate}}</h4>
        <span class="badge badge-main text-main-color d-flex justify-content-center align-items-center">
          {{vehiclesCount}}
        </span>
      </div>
      <div class="d-flex gap-2">
        <button class="btn btn-solid-main d-flex align-items-center gap-2 text-nowrap" (click)="addEditItem()">
          <i class="pi pi-plus"></i>
          <span>{{'dashboard.vehicles.addVehicle'|translate}}</span>
        </button>
        <!-- Filter Button -->
        <button [class.disabled-actions]="isLoadingVehiclesList" *ngIf="vehiclesList.length>0 || ifFilteration()"
          class="btn btn-solid-main d-flex align-items-center gap-2" (click)="filterItem()">
          <i class="pi pi-filter"></i>
        </button>
      </div>
    </div>
    <div class="row mt-3 mx-0" [class.disabled-actions]="isLoadingVehiclesList"
      *ngIf="vehiclesList.length>0 || ifFilteration()">
      <!-- Search Handler -->
      <div class="col-sm-8 col-9">
        <div class="search" role="search">
          <div class="input-group bg-white-color d-flex flex-nowrap w-100">
            <span class="input-group-text border-0" id="basic-addon1">
              <i class="pi pi-search text-muted-color"></i>
            </span>
            <span class="p-input-icon-right d-inline-block w-100">
              <i *ngIf="isLoadingSearch" class="pi pi-spin pi-spinner"></i>
              <i *ngIf="!isLoadingSearch&&search2.value" class="pi pi-times text-danger pointer"
                (click)="clearSearch(search2)"></i>
              <input type="text" class="form-control border-0 bg-transparent px-1" #search2 [(ngModel)]="searchKeyword"
                (keyup)="handleSearch(search2.value)" placeholder="{{'placeholders.search' | translate}}"
                [readOnly]="isLoadingSearch" aria-label="search" aria-describedby="basic-addon1">
            </span>
          </div>
        </div>
      </div>
      <!-- Clear -->
      <div class="col-sm-4 col-3 d-flex justify-content-end">
        <button class="btn btn-outline-main d-flex align-items-center gap-2 text-nowrap h-100" (click)="clearTable()">
          <i class="pi pi-refresh"></i>
          <span class="d-sm-inline-block d-none">{{'general.reset'|translate}}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="d-md-block d-none">
    <!-- Table -->
    <ng-container *ngIf="dataStyleType=='list'">
      <!-- Table List -->
      <dynamic-table [isLoading]="isLoadingVehiclesList" [showHeader]="false" [showClear]="false" [showSearch]="false"
        [isLoadingSearch]="isLoadingSearch" [showActionsButtons]="true"
        (clearHandler)="enableSortFilter?clearTable():''" [tableHeaders]="tableHeaders" [tableData]="vehiclesList"
        [enableDateFormate]="true" [dateFormateString]="'d MMMM y'" [showActions]="true" [showEdit]="false"
        [showDelete]="false" (deleteHandler)="deleteItem($event)" [showDetails]="true"
        (detailsHandler)="itemDetails($event)" (editHandler)="addEditItem($event,'edit')"
        (customSortHandler)="enableSortFilter?sortItems($event):''"
        (filterHandler)="enableSortFilter?filterItems($event):''" [results]="vehiclesCount" [paginatorRows]="perPage"
        [pages]="pagesCount" (paginateHandler)="onPageChange($event)" [rowsPerPageOptions]="rowsOptions"
        [enableConfirmDeleteDialog]="true" [keyDelete]="'name'"
        (paginateOptionsHandler)="onPaginatorOptionsChange($event)" [isSearch]="isSearch"
        [arrayChildKey]="'operatingCard'" [enableFilterDriverStatus]="true"
        [addBtnText]="'dashboard.vehicles.addVehicle'" (addHandler)="addEditItem()"></dynamic-table>
    </ng-container>
    <!-- Card -->
    <ng-container *ngIf="dataStyleType=='grid'">
      <div class="row pt-4">
        <!-- Loading Cards -->
        <ng-container *ngIf="isLoadingVehiclesList; else noLoadingCards">
          <skeleton type="clientsList"></skeleton>
        </ng-container>

        <!-- Cards List -->
        <ng-template #noLoadingCards>
          <ng-container *ngIf="vehiclesList.length>0; else noVehicles">
            <ng-container *ngFor="let card of vehiclesList; let i=index">
              <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <vehicle-card [item]="card" (itemDetailsHandler)="addEditItem($event,'edit')"></vehicle-card>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>

        <!-- Pagination Card -->
        <ng-container *ngIf="vehiclesList?.length>0 || ifFilteration()">
          <div class="d-flex justify-content-center my-3" [class.disabled]="isLoadingVehiclesList">
            <p-paginator #paginator [rows]="perPage" [totalRecords]="vehiclesCount" [showPageLinks]="true"
              [pageLinkSize]="3" (onPageChange)="onPageChange($event)"></p-paginator>
            <div class="d-flex align-items-center gap-3">
              <p-dropdown [styleClass]="'paginator-options-dropdown'" [dropdownIcon]="'fas fa-caret-down'" #dropdown
                [options]="rowsOptions" (onChange)="onPaginatorOptionsChange($event)" (onHide)="hide()"></p-dropdown>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-template #noVehicles>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div>
            <app-dynamic-svg [name]="'noRecords'"></app-dynamic-svg>
          </div>
          <p class="fw-500 mt-3">{{'general.no_records_found'|translate}}</p>
          <button (click)="addEditItem()"
            class="btn btn-solid-main d-flex justify-content-center align-items-center">{{'dashboard.vehicles.addVehicle'|translate}}</button>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <!-- Show Cards in tablet and mobile -->
  <div class="d-md-none d-block">
    <div class="row pt-4">
      <!-- Loading Cards -->
      <ng-container *ngIf="isLoadingVehiclesList; else noLoadingCards">
        <skeleton type="clientsList"></skeleton>
      </ng-container>
      <!-- Cards List -->
      <ng-template #noLoadingCards>
        <ng-container *ngIf="vehiclesList.length>0; else noVehicles2">
          <ng-container *ngFor="let card of vehiclesList; let i=index">
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
              <vehicle-card (itemDetailsHandler)="addEditItem($event,'edit')" [item]="card"></vehicle-card>
            </div>
          </ng-container>
        </ng-container>
      </ng-template>
      <!-- Pagination Card -->
      <ng-container *ngIf="vehiclesList?.length>0 || ifFilteration()">
        <div class="d-flex justify-content-center my-3" [class.disabled]="isLoadingVehiclesList">
          <p-paginator #paginator [rows]="perPage" [totalRecords]="vehiclesCount" [showPageLinks]="true"
            [pageLinkSize]="3" (onPageChange)="onPageChange($event)"></p-paginator>
          <div class="d-flex align-items-center gap-3">
            <p-dropdown [styleClass]="'paginator-options-dropdown'" [dropdownIcon]="'fas fa-caret-down'" #dropdown
              [options]="rowsOptions" (onChange)="onPaginatorOptionsChange($event)" (onHide)="hide()"></p-dropdown>
          </div>
        </div>
      </ng-container>

    </div>
    <ng-template #noVehicles2>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
          <app-dynamic-svg [name]="'noRecords'"></app-dynamic-svg>
        </div>
        <p class="fw-500 mt-3">{{'general.no_records_found'|translate}}</p>
        <button (click)="addEditItem()"
          class="btn btn-solid-main d-flex justify-content-center align-items-center">{{'dashboard.vehicles.addVehicle'|translate}}</button>
      </div>
    </ng-template>
  </div>

</div>