<ng-container *ngIf="type=='list'">
  <div class="row pt-4">
    <ng-container *ngFor="let card of [9,8,8,9,9,8,8,9]; let i=index">
      <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
        <p-skeleton width="100%" height="15rem" borderRadius="13px"></p-skeleton>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type=='editClient'">
  <p-skeleton width="100%" height="15rem" borderRadius="13px"></p-skeleton>
</ng-container>

<ng-container *ngIf="type=='recordDetails'">
  <div class="row">
    <div *ngFor="let item of [4,4,4,4]" class="col-md-6 mb-3">
      <p-skeleton width="100%" height="20rem" borderRadius="13px"></p-skeleton>
    </div>
  </div>
</ng-container>