<div class="global-card p-3 h-100 d-flex flex-column justify-content-between" id="employee-card">
  <div class="overflow-hidden">
    <div class="d-flex flex-wrap gap-3">
      <div class="image">
        <img [src]="item.iqamaImage" alt="residencePhoto" class="w-100 h-100 shadow">
      </div>
      <div>
        <div>
          <p class="text-muted-color mb-0 fs-5-2">
            {{'labels.fullName'|translate}}
          </p>
          <p class="mb-0 fs-5-2">
            {{item?.name||'--'}}
          </p>
        </div>
        <div class="mt-3">
          <p class="text-muted-color mb-0 fs-5-2">
            {{'labels.endDate'|translate}}
          </p>
          <p class="mb-0 fs-5-2">
            {{item?.expiryDate | date: 'd MMMM y':'':currentLanguage}}
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex gap-lg-4 gap-3 flex-wrap mt-3">
      <div>
        <p class="text-muted-color mb-0 fs-5-2">
          {{'labels.residencyNumber'|translate}}
        </p>
        <p class="mb-0 fs-5-2">
          {{item?.identity||'--'}}
        </p>
      </div>
      <div>
        <p class="text-muted-color mb-0 fs-5-2">
          {{'labels.healthCertificate'|translate}}
        </p>
        <p class="mb-0 fs-5-2">
          {{item?.healthCertificate||'--'}}
        </p>
      </div>
    </div>
  </div>
  <div>
    <hr>
    <div class="d-flex justify-content-end gap-3 flex-wrap">
      <button class="details-btn d-flex align-items-center justify-content-center" (click)="itemDetails(item)">
        {{'general.details'|translate}}
      </button>
      <!-- <button (click)="editItem(item)" class="details-btn d-flex align-items-center justify-content-center">
        {{'general.edit'|translate}}
      </button> -->
    </div>
  </div>
</div>