<div id="statistics">
  <div class="container-fluid">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6">
        <div>
          <h1 class="fs-4-1 text-capitalize">{{'dashboard.statistics.hi'|translate}} ,
            <span class="px-1 text-main-color">{{userData?.name||''}}</span>
            <span>{{'dashboard.statistics.welcomeBack'|translate}}</span>
          </h1>
          <p class="mt-3">{{'dashboard.statistics.pageIsDesigned'|translate}}</p>
          <div class="mt-4 d-md-block d-none">
            <img class="w-100" src="assets/images/dashboard/statistics/welcome-img.svg" alt="welcome">
          </div>
          <div
            class="bg-dark p-4 global-card d-flex justify-content-center align-items-center flex-column text-white-color text-center mt-4">
            <div class="star bg-white-color rounded-circle d-flex justify-content-center align-items-center">
              <i class="pi pi-star-fill text-dark-color"></i>
            </div>
            <h5 class="fs-5 mt-3 text-capitalize">{{'dashboard.statistics.congratulations'|translate}} <span
                class="px-1 text-main-color">{{userData?.name||''}}</span>
            </h5>
            <p class="mt-1">{{'dashboard.statistics.youHavePermission'|translate}}</p>

            <button class="btn bg-white-color mt-3">{{'dashboard.statistics.viewProfile'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="global-card p-3 border-0">
          <h2 class="fs-5-2">
            {{'dashboard.statistics.totalRevenue'|translate}}
          </h2>
          <div>
            <img src="assets/images/dashboard/statistics/1.svg" alt="statistics" class="w-100 statistic-img">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="global-card p-3 border-0">
              <h2 class="fs-5-2">
                {{'dashboard.statistics.GoalVReality'|translate}}
              </h2>
              <div class="mt-4">
                <img src="assets/images/dashboard/statistics/2.svg" alt="statistics" class="w-100 statistic-img">
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-3">
            <div class="global-card p-3 border-0">
              <h2 class="fs-5-2">
                {{'dashboard.statistics.customerSatisfactio'|translate}}
              </h2>
              <div>
                <img src="assets/images/dashboard/statistics/3.svg" alt="statistics" class="w-100 statistic-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>