<div id="home" class="pb-5">
  <section id="hero-section" class="d-flex align-items-center justify-content-center position-relative">
    <div class="container ">
      <div class="right-bg" data-aos="fade-down" data-aos-easing="ease-in-out"> </div>
      <div class="row min-h-100 w-100 align-items-center">
        <div class="col-md-6 d-flex align-items-center order-md-1 order-2">
          <div>
            <h1 class="fs-1 title home-title text-dark-color fw-bold" data-aos="fade-right"
              data-aos-easing="ease-in-out" data-aos-duration="900">{{homeData?.title}}</h1>
            <p class="mt-4 fs-5-1 lh-base description px-2 position-relative" data-aos="fade-right"
              data-aos-easing="ease-in-out" data-aos-duration="1200">
              {{homeData?.description}}
            </p>
            <div class="d-flex align-items-center flex-wrap gap-sm-5 gap-3 mt-5">
              <a [routerLink]="'/Auth/Register'" class="btn btn-solid-main" data-aos="fade-up"
                data-aos-easing="ease-in-out" data-aos-duration="1200">{{'home.getStarted'|translate}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 pt-md-0 pt-5">
          <div class="d-flex justify-content-lg-end justify-content-center position-relative hero-layer">
            <div class="layer1" data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-duration="800">
              <img src="assets/images/home/dots.svg" class="dots" alt="dot" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
            </div>
            <div class="layer2 d-none" data-aos="zoom-in-down" data-aos-easing="ease-in-out" data-aos-duration="700"
              data-aos-delay="500">
              <div class="layer3 position-absolute" data-aos="fade-down" data-aos-duration="500" data-aos-delay="800">
              </div>
            </div>
            <div class="position-absolute">
              <img src="assets/images/home/main-img.svg" data-aos="fade-down" data-aos-duration="500"
                data-aos-delay="1000" alt="hero-img" class="hero-img mt-5 w-100">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div data-aos="fade-up" data-aos-easing="ease-in-out">
    <div class="bg-name"></div>
    <section id="feature" class="pt-4  mb-5 d-flex align-items-center justify-content-center position-relative">
      <div class="vector-bg">
        <div class="container ">
          <h5 class="fs-5 text-secondary-color" data-aos="fade-right" data-aos-easing="ease-in-out"
            data-aos-duration="700">
            {{'home.features'|translate}}
          </h5>
          <h2 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800"
            class="fs-2 w-75 title text-white-color fw-bold">
            {{homeData?.featureTitle}}
          </h2>
          <div class="row">
            <ng-container *ngFor="let item of homeData?.features;let i=index">
              <div class="col-lg-6 col-md-6 mb-4">
                <div class="global-card feature-content position-relative h-100" data-aos="fade-up"
                  data-aos-easing="ease-in-out" [attr.data-aos-duration]="((i+1)*200)+500">
                  <div class="position-absolute number-bg"></div>
                  <div class="d-flex justify-content-between align-items-center">
                    <h1 class="fs-lg dark-main-color">
                      0{{i+1}}
                    </h1>
                    <i class="pi pi-chart-bar fs-4 text-main-color"></i>
                  </div>
                  <h3 class="fs-4 mb-2">
                    {{item?.title}}
                  </h3>
                  <p class="text-muted lh-base fs-5-1">
                    {{item?.description}}
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="demo" class="position-relative">
    <div class="bg-light bg">
      <div class="container">
        <div class="py-5">
          <h2 class="fs-2 text-dark  pb-4" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="800">
            {{'home.howSupplierWork'|translate}}
          </h2>
          <p class="fs-5-1 mt-1 text-black-50" data-aos="fade-down" data-aos-easing="ease-in-out"
            data-aos-duration="900">{{homeData.howSupplierWork}}</p>
          <button data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="950"
            class="btn btn-solid-main d-flex align-items-center gap-3 mt-5" [routerLink]="['/about-us']">
            {{'home.readMore'|translate}}
            <i class="pi pi-arrow-right scaleX-rtl"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <h2 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800"
          class="fs-2 w-75 title fw-bold mt-5">
          {{homeData?.news?.title}}
        </h2>
        <div class="col-md-12 position-relative mt-5">
          <div>
            <div data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800">
              <img src="../../../assets/images/home/bg-warn.svg" alt="policy" class="w-50 position-absolute policy-bg">
            </div>
            <div class="position-relative" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="800">
              <video class="video" id="videoPlayer" #videoPlayer controls>
                <source [src]="homeData?.news?.videoLink" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              </video>
              <ng-container *ngIf="!isPlay">
                <a (click)="playVideo()" class="play d-block">
                  <img src="assets/images/home/play.svg" alt="play"></a>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="services" class="py-5 service-bg">
    <div class="container">
      <h2 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800"
        class="fs-2 w-75 title text-dark-color fw-bold mb-4">
        {{'home.activateSupplierAccount'|translate}}
      </h2>
      <div>
        <div class="row mt-5 justify-content-between">
          <ng-container *ngFor="let item of homeData?.steps;let i=index">
            <div class="col-md-6 mb-5">
              <div class="d-flex justify-content-center position-relative h-100 step-content" data-aos="fade-left"
                data-aos-easing="ease-in-out" data-aos-duration="900">
                <div class="w-85 position-absolute step-layer h-100"></div>
                <div
                  class="global-card bg-white w-100 step d-flex flex-column gap-4 align-items-center p-4 text-center h-100 py-5">
                  <img [src]="item?.img" alt="step1" class="step-img">
                  <div class="">
                    <h6 class="text-main-color fw-bold fs-5">{{item?.title}}</h6>
                    <p class="text-main-color mb-0">{{item?.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </section>

  <section class="ask-demo py-5 d-flex align-items-center">
    <div class="container d-flex align-items-center flex-column">
      <h2 data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000"
        class="fs-2 w-75 title text-dark-color text-center fw-bold mb-4">
        {{'home.helpSupplier'|translate}}
      </h2>
      <div class="mt-5 d-flex justify-content-center w-100" data-aos="fade-down" data-aos-easing="ease-in-out"
        data-aos-duration="1000">
        <div class="position-relative d-inline-block">
          <img src="../../../assets/images/home/ask-icon.svg" alt="ask-icon" class="position-absolute ask-icon">
          <button class="btn ask-demo-btn">{{'home.askDemo'|translate}}</button>
        </div>
      </div>
    </div>
  </section>

  <section id="subscription" class="mt-5">
    <div class="container">
      <div class="p-4 content">
        <div class="row d-flex align-items-center bg-logo bg-logo2">
          <div class=" col-lg-6 col-md-8">
            <div class="mx-4">
              <h5 class="fs-4 fw-bold text-white-color d-flex justify-content-md-start justify-content-center mb-2"
                data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="800">
                {{'home.subscribe'|translate}}
              </h5>
              <p class="description fs-6 d-flex justify-content-md-start justify-content-center" data-aos="fade-down"
                data-aos-easing="ease-in-out" data-aos-duration="850">
                {{'home.subscribeDescription'|translate}}
              </p>
              <form class="d-flex position-relative mt-4" [formGroup]="form" (submit)="submit()" data-aos="fade-up"
                data-aos-easing="ease-in-out" data-aos-duration="900">
                <input class="form-control" type="email" placeholder="{{'placeholders.email'|translate}}"
                  formControlName="email">
                <button class="btn btn-solid-main p-2 btn-submit position-absolute" type="submit"
                  [disabled]="form?.invalid">
                  {{'home.submit'|translate}}</button>
              </form>

            </div>
          </div>
          <div class="col-lg-6 col-md-4 d-none d-md-block">
            <div class="ps-5 d-flex justify-content-end subscription-img" data-aos="fade-left"
              data-aos-easing="ease-in-out" data-aos-duration="900">
              <img src="assets/images/home/subscription.svg" class="w-50 w-md-100 sub-img" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>