.text-main-color {
  color: var(--text-main-color) !important;
}

.bg-main-color {
  background-color: var(--bg-main-color) !important;
}

.text-second-color {
  color: var(--text-second-color);
}

.bg-second-color {
  background-color: var(--bg-second-color);
}

.text-secondary-color {
  color: var(--text-secondary-color);
}

.text-desc-color {
  color: var(--text-desc-color) !important;
}

.bg-secondary-color {
  background-color: var(--bg-secondary-color);
}

.text-white-color {
  color: var(--text-white-color) !important;
}

.bg-white-color {
  background-color: var(--bg-white-color) !important;
}

.text-dark-color {
  color: var(--text-dark-color) !important;
}

.bg-dark-color {
  background-color: var(--bg-dark-color);
}

.text-grey-900 {
  color: var(--grey-900) !important;
}

.bg-grey-900 {
  background-color: var(--grey-900);
}

.text-grey-700 {
  color: var(--grey-700) !important;
}

.bg-grey-700 {
  background-color: var(--grey-700);
}

.text-grey-400 {
  color: var(--grey-400) !important;
}

.bg-grey-400 {
  background-color: var(--grey-400);
}

.text-grey-100 {
  color: var(--grey-100) !important;
}

.bg-grey-100 {
  background-color: var(--grey-100);
}
.text-muted-color {
  color: var(--text-muted-color) !important;
}
