:root {
  --text-main-color:#1B2940;
  --bg-main-color:#1B2940;
  --text-secondary-color: #01ABE5;
  --bg-secondary-color: #01ABE5;
  --text-second-color: #A1D12D;
  --bg-second-color: #A1D12D;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --text-muted-color: #b0b3b8;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --bg-input-color: #f2f7fa;
  --border-input-color: #f2f7fa;
  --border-input-radius: 0.625rem;
  --border-card-radius: 20px;
  --border-modal-radius: 15px;
}
