:root {
  --text-main-color: #035397;
  --bg-main-color: #035397;
  --text-secondary-color: #e8630a;
  --bg-secondary-color: #e8630a;
  --text-second-color: #a1d12d;
  --bg-second-color: #a1d12d;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --text-muted-color: #b0b3b8;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --bg-input-color: #f2f7fa;
  --bg-input-color: #edf7ff;
  --border-input-color: #aeb3b7;
  --placeholder-input-color: #8c95a3;
  --border-input-radius: 0.625rem;
  --border-card-radius: 20px;
  --border-modal-radius: 15px;
  --dashboard-border-radius: 20px;
  --border-radius-card: 20px;
}
