<div id="places-list">
  <div class="container mx-auto">
    <p>places-list works!</p>
    <a [routerLink]="['/places/details/slug']" title="details">
      <h1>Place item</h1>
    </a>
    <a [routerLink]="['/places/details/slug']" title="details">
      <h2>Place item 2</h2>
    </a>
    <h3>Place item</h3>
    <h4>Place item</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, excepturi optio ipsum ipsa illum suscipit
      quidem
      sint ad, ullam unde at, ea obcaecati! Consectetur nihil voluptatibus distinctio praesentium unde odit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, excepturi optio ipsum ipsa illum suscipit
      quidem
      sint ad, ullam unde at, ea obcaecati! Consectetur nihil voluptatibus distinctio praesentium unde odit.</p>
      <p>places-list works!</p>
      <a [routerLink]="['/places/details/slug']" title="details">
        <h1>Place item</h1>
      </a>
      <a [routerLink]="['/places/details/slug']" title="details">
        <h2>Place item 2</h2>
      </a>
      <h3>Place item</h3>
      <h4>Place item</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, excepturi optio ipsum ipsa illum suscipit
        quidem
        sint ad, ullam unde at, ea obcaecati! Consectetur nihil voluptatibus distinctio praesentium unde odit.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, excepturi optio ipsum ipsa illum suscipit
        quidem
        sint ad, ullam unde at, ea obcaecati! Consectetur nihil voluptatibus distinctio praesentium unde odit.</p>
        <p>places-list works!</p>
        <a [routerLink]="['/places/details/slug']" title="details">
          <h1>Place item</h1>
        </a>
        <a [routerLink]="['/places/details/slug']" title="details">
          <h2>Place item 2</h2>
        </a>
        <h3>Place item</h3>
        <h4>Place item</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, excepturi optio ipsum ipsa illum suscipit
          quidem
          sint ad, ullam unde at, ea obcaecati! Consectetur nihil voluptatibus distinctio praesentium unde odit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, excepturi optio ipsum ipsa illum suscipit
          quidem
          sint ad, ullam unde at, ea obcaecati! Consectetur nihil voluptatibus distinctio praesentium unde odit.</p>
  </div>
</div>