<nav class="navbar navbar-expand-lg position-fixed w-100 second-navbar bg-transparent"
  [class.header-bg]="typeModule=='payments'||typeModule=='policies'||typeModule=='statistics'"
  (clickOutside)="collapsedMenu == true ? collapsedMenu = false :''">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" [routerLink]="['/home']">
      <img src="assets/images/logo/logo.svg" alt="logo" class="logo h-100">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!collapsedMenu" (click)="collapsedMenu = !collapsedMenu" aria-label="Toggle navigation">
      <div class="menu-icon d-flex justify-content-between flex-column align-items-end">
        <span class="line"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </button>
    <div class="collapse navbar-collapse m-auto" id="navbarSupportedContent" [class.show]="collapsedMenu">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-4">
        <!-- <li class="nav-item">
                  <a class="nav-link"
                     [routerLink]="['/features']"
                     [routerLinkActive]="'active'"
                     (click)="collapsedMenu == true ? collapsedMenu = false :''">
                    {{publicService?.translateTextFromJson('features')}}
                  </a>
                </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/main']"
             [routerLinkActive]="'active'">
            {{publicService?.translateTextFromJson('home')}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/resources']"
             [routerLinkActive]="'active'"
             (click)="collapsedMenu == true ? collapsedMenu = false :''">
            {{publicService?.translateTextFromJson('resource')}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/contactUs']"
             routerLinkActive="active"
             (click)="collapsedMenu == true ? collapsedMenu = false :''">
            {{publicService?.translateTextFromJson('contactUs')}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/aboutUs']"
             routerLinkActive="active"
             (click)="collapsedMenu == true ? collapsedMenu = false :''">
            {{publicService?.translateTextFromJson('about')}}
          </a>
        </li> -->
      </ul>
      <div class="d-flex align-items-center justify-content-md-center gap-4 py-lg-0 py-3">
        <ng-container *ngIf="!isLoggedIn">
          <a [routerLink]="'/auth/login'">
            <!-- <app-alt-button [text]="'form.login'|translate"></app-alt-button> -->
          </a>
        </ng-container>
        <div class="d-flex gap-4 align-items-center">
          <div>
            <i class="pi pi-search fs-5-1"></i>
          </div>
          <language-selector></language-selector>
        </div>
      </div>
    </div>
  </div>
</nav>