<nav class="navbar navbar-expand-lg position-fixed w-100 d-xl-block d-none"
  [ngClass]="{'headerBg': shouldApplyHeaderBg(),'dark-nav':shouldDisplayDarkLogo()}">
  <div class="container px-0">
    <span class="navbar-brand mx-3">
      <img [ngSrc]="shouldDisplayDarkLogo() ? 'assets/images/logo/logo.webp' : 'assets/images/logo/logo.webp'"
        alt="logo" class="logo" width="82" height="48">
    </span>
    <button class="navbar-toggler border-0" type="button">
      <div class="menu-icon d-flex justify-content-between flex-column align-items-end">
        <span class="line"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </button>
    <div class="collapse navbar-collapse m-auto" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-4">
        <ng-container *ngFor="let link of navItems">
          <li class="nav-item" *ngIf="!link.children || link.children.length === 0">
            <a class="nav-link" [routerLink]="[link.route]" routerLinkActive="active-link"
              [title]="'{{link.title | translate}}'">
              {{ link.label | translate }}
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf="link.children && link.children.length > 0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ link.label | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let child of link.children">
                <a class="dropdown-item" [routerLink]="[child.route]" routerLinkActive="active-link"
                  [title]="'{{child.title | translate}}'">
                  {{ child.label | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
      <!-- Additional HTML for login, signup, language selector, etc. -->
      <div class="d-flex align-items-center gap-4 py-lg-0 py-3">
        <ng-container *ngIf="isUserLoggedIn; else elseNotLoggedIn">
          <!-- <app-user-info></app-user-info> -->
        </ng-container>
        <ng-template #elseNotLoggedIn>
          <div class="d-flex flex-row align-items-center gap-2 justify-content-center-small">
            <!-- <li class="nav-item d-md-none d-block">
              <languages-selector></languages-selector>
            </li> -->
            <span class="nav-item">
              <button class="btn btn-outline-light w-auto text-nowrap py-2" (click)="collapse = false;login()"
                [routerLink]="['/auth/login']">
                <span class="d-flex align-items-center justify-content-center gap-2">
                  <i class="pi pi-sign-in"></i>
                  <span>
                    {{'titles.login' |translate}}
                  </span>
                </span>
              </button>
            </span>
            <span class="nav-item">
              <button class="btn btn-outline-light text-nowrap w-auto py-2" (click)="collapse = false"
                [routerLink]="['/auth/supplier-registration']">
                <span class="d-flex align-items-center justify-content-center gap-2">
                  <i class="pi pi-user-plus"></i>
                  <span>
                    {{"titles.signUp"|translate}}
                  </span>
                </span>
              </button>
            </span>
          </div>
        </ng-template>
        <language-selector></language-selector>
      </div>
    </div>
  </div>
</nav>