.user-info-dropdown {
  .user-info-menu {
    width: 16rem;
    border-radius: 12px;
    top: 3.6rem !important;
  }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 9rem;
  }
  .nav-item {
    .nav-link {
      padding: 10px 15px !important;
      font-size: 15px;
      line-height: 2;
      color: #32475cde;
      border-radius: 10px;
      &:hover {
        background-color: #fafafa;
      }
    }
    &:hover {
      .logout-text {
        color: #ff5879 !important;
      }
    }
  }
  .logout-text {
    color: #ff5879 !important;
  }
  .user-name {
    max-width: 11rem;
  }
  &:dir(rtl) {
    .text-start {
      text-align: right !important;
    }
  }
  hr {
    border-color: #32475c;
  }
}
