<div id="basic-info">
  <h2 class="fs-1 text-center">
    {{'auth.supplierSignUp'|translate}}
  </h2>
  <p class="mt-2 text-center description lh-sm">
    {{'auth.pleaseEnterBasicInformation2'|translate}}
  </p>
  <form [formGroup]="basicInfoForm" (ngSubmit)="continue()" class="pt-3">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="mb-4">
          <label for="userName" class="required">{{'labels.username'|translate}}</label>
          <span class="p-input-icon-right w-100">
            <input type="text" id="userName" class="form-control" formControlName="userName"
              placeholder="{{'placeholders.username'|translate}}"
              [class.border-red]="(formControls?.userName?.touched||formControls?.userName?.dirty)&&formControls?.userName?.invalid || isUserNameFound"
              [class.is-valid]="(formControls?.userName?.touched||formControls?.userName?.dirty)&&formControls?.userName?.valid&&!isUserNameFound"
              (input)="publicService?.clearValidationErrors(formControls?.userName)"
              (blur)="formControls?.userName?.valid?IsUserNameFound(this.basicInfoForm?.value?.userName):''"
              (keyup)="onKeyUpEvent()">
            <ng-container *ngIf="isCheckUserName">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
          </span>
          <div class="mt-1">
            <ng-container
              *ngIf="formControls?.userName?.invalid && (formControls?.userName?.dirty || formControls?.userName?.touched)">
              <ng-container *ngIf="formControls?.userName?.errors?.required">
                <span class="text-danger fs-8-1">
                  {{'validations.username'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.userName?.errors?.pattern">
                <span class="text-danger fs-8-1">
                  {{'validations.userNameNotCorrect'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.userName?.errors?.minlength">
                <span class="text-danger fs-8-1">
                  {{'validations.userLength'|translate}}
                </span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="isUserNameFound">
              <span class="text-danger fs-8-1 d-block">
                {{'labels.username'|translate}} <span class="form-label text-main-color fw-bold px-1">
                  {{basicInfoForm?.value?.userName}}
                </span>
                {{'auth.isUsedBefore'|translate}}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-4">
          <label for="password" class="required">{{'labels.password'|translate}}</label>
          <div>
            <div class="rounded-input p-mask"
              [class.border-red]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)">
              <p-password [toggleMask]="true" id="p-password" formControlName="password"
                placeholder="{{'placeholders.password'|translate}}" [attr.autocomplete]="'current-password'"
                [feedback]="false">
              </p-password>
            </div>
            <span class="mt-1 d-block text-muted-color fs-8-1">
              {{'validations.passwordPattern'|translate}}
            </span>
            <div class="mt-1">
              <ng-container
                *ngIf="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)">
                <ng-container *ngIf="formControls?.password?.errors?.required">
                  <span class="text-danger fs-8-1">
                    {{'validations.password'|translate}}
                  </span>
                </ng-container>
                <ng-container *ngIf="formControls?.password?.errors?.pattern">
                  <span class="text-danger fs-8-1">
                    {{'validations.passwordPattern'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-4">
          <label for="confirmPassword" class="required">{{'labels.confirmPassword'|translate}}</label>
          <div class="rounded-input p-mask"
            [class.border-red]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)">
            <p-password [toggleMask]="true" id="p-password" formControlName="confirmPassword"
              placeholder="{{'placeholders.confirmPassword'|translate}}" [attr.autocomplete]="'current-password'"
              [feedback]="false">
            </p-password>
          </div>
          <div class="mt-1">
            <ng-container
              *ngIf="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)">
              <ng-container *ngIf="formControls?.confirmPassword?.errors?.required">
                <span class="text-danger fs-8-1">
                  {{'validations.confirmPassword'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.confirmPassword?.errors?.pattern">
                <span class="text-danger fs-8-1">
                  {{'validations.passwordPattern'|translate}}
                </span>
              </ng-container>
              <ng-container *ngIf="formControls?.confirmPassword?.errors?.ConfirmPassword">
                <span class="text-danger fs-8-1">
                  {{'validations.notMatch'|translate}}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
    <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4"
      [disabled]="basicInfoForm?.invalid||isUserNameFound">
      <span>
        {{'auth.continue'|translate}}
      </span>
    </button>
  </form>
</div>