#clients {
  .btn {
    height: 2.9rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .btn-solid-main {
    background-color: var(--bg-main-color);
    border: 1px solid var(--bg-main-color);
    color: var(--text-white-color);
  }
  .btn-outline-main {
    background-color: transparent;
    border: 1px solid var(--bg-main-color);
    color: var(--text-main-color);
  }
  .badge-main {
    background-color: #3670a22a;
    padding: 0.65rem 0.4rem;
    min-width: 2rem;
  }
  .data-style {
    background: #ffffffb2;
    border: 1px solid #8c95a336;
    border-radius: 10px;
    height: 2.9rem;
    a {
      border-radius: 5px;
      color: #5f5f5f66;
      padding: 0.3rem 0.5rem;
      &.active {
        background: #d9d9d942;
        color: #111;
      }
    }
  }
  .search {
    .input-group {
      background: #ffffffb2;
      border: 1px solid #8c95a336;
      border-radius: 10px;
      width: 25rem;
      // min-width: 15rem;
      .form-control {
        height: 2.9rem;
      }
      .input-group-text {
        background-color: transparent !important;
      }
    }
  }
  .disabled-actions {
    pointer-events: none;
    opacity: 0.7;
  }
  .no-data {
    height: 250px;
  }
}

@media (max-width: 767px) {
  #clients {
    .btn {
      height: 2.6rem;
      padding: 0.7rem;
    }
  }
}

@media (max-width: 375px) {
  #clients {
    .title-header {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
