<div class="global-card p-3 h-100 d-flex flex-column justify-content-between" id="user-card">
  <div>
    <div>
      <p class="text-muted-color mb-0 fs-5-2">
        {{'labels.name'|translate}}
      </p>
      <p class="mb-0 fs-5-2">
        {{item?.name||'--'}}
      </p>
    </div>
    <div class="mt-3">
      <p class="text-muted-color mb-0 fs-5-2">
        {{'labels.email'|translate}}
      </p>
      <p class="mb-0 fs-5-2">
        {{item?.email || '--'}}
      </p>
    </div>
    <div class="mt-3">
      <p class="text-muted-color mb-0 fs-5-2">
        {{'labels.phone'|translate}}
      </p>
      <p class="mb-0 fs-5-2">
        {{item?.phoneNumber||'--'}}
      </p>
    </div>
    <div class="d-flex gap-lg-4 gap-3 flex-wrap mt-3">
      <div>
        <p class="text-muted-color mb-2 fs-5-2">
          {{'labels.permissions'|translate}}
        </p>
        <ng-container *ngIf="item.permissions.length>0; else noPermission">
          <div class="d-flex gap-2 flex-wrap">
            <ng-container *ngFor="let child of item.permissions">
              <p class="mb-0 child">
                {{child?.name}}
              </p>
            </ng-container>
          </div>
        </ng-container>
        <ng-template #noPermission>
          <p class="text-center noItemAdded mb-0">
            {{'general.noItemAdded'|translate}}
          </p>
        </ng-template>
      </div>
    </div>
  </div>
  <div>
    <hr>
    <div class="d-flex justify-content-end gap-3 flex-wrap">
      <button (click)="itemDetails(item)" class="details-btn d-flex align-items-center justify-content-center">
        {{'general.details'|translate}}
      </button>
      <!-- <button class="details-btn d-flex align-items-center justify-content-center">
        {{'general.edit'|translate}}
      </button> -->
    </div>
  </div>
</div>