<main style="transition: 0.5s" class="main-wrapper" [style.opacity]="isServer ? 0 : 1">
  <div class="d-none d-xl-block" *ngIf="shouldRender">
    <app-navbar></app-navbar>
  </div>
  <div class="d-block d-xl-none" *ngIf="shouldRender">
    <navbar-mobile></navbar-mobile>
  </div>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer *ngIf="shouldRender">
    <app-footer></app-footer>
    <bottom-navigation class="d-block d-xl-none"></bottom-navigation>
  </footer>
</main>

<scroll-top></scroll-top>
<p-toast position="top-right" [baseZIndex]="50000000000000" showTransitionOptions="0" [preventOpenDuplicates]="true"
  [breakpoints]="{'786px': {width: '100%', right: '0', left: '0'}}"></p-toast>