<div id="personal-info">
  <div>
    <h1 class="fs-1 text-center mb-0">
      {{'auth.supplierSignUp' | translate}}
    </h1>
    <p class="mt-2 text-center lh-sm description">
      {{'auth.PleaseEnterBasicInformation' | translate}}
    </p>
  </div>
  <div class="pt-5">
    <form [formGroup]="personalInfoForm" (ngSubmit)="continue()" aria-label="Personal Info">
      <div class="row mb-4">
        <div class="col-md-6">
          <div class="mb-4">
            <label for="firstName" class="required">{{'labels.firstName'|translate}}</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName"
              placeholder="{{'placeholders.firstName'|translate}}"
              [class.border-red]="(formControls?.firstName?.touched||formControls?.firstName?.dirty)&&formControls?.firstName?.invalid"
              (input)="publicService?.clearValidationErrors(formControls?.firstName)">
            <div class="mt-1">
              <ng-container
                *ngIf="formControls?.firstName?.invalid && (formControls?.firstName?.dirty || formControls?.firstName?.touched)">
                <ng-container *ngIf="formControls?.firstName?.errors?.required">
                  <span class="text-danger fs-8-1">
                    {{'validations.firstName'|translate}}
                  </span>
                </ng-container>
                <ng-container *ngIf="formControls?.firstName?.errors?.minlength">
                  <span class="text-danger fs-8-1">
                    {{'validations.firstNameLength'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <label for="lastName" class="required">{{'labels.lastName'|translate}}</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName"
              placeholder="{{'placeholders.lastName'|translate}}"
              [class.border-red]="(formControls?.lastName?.touched||formControls?.lastName?.dirty)&&formControls?.lastName?.invalid"
              (input)="publicService?.clearValidationErrors(formControls?.lastName)">
            <div class="mt-1">
              <ng-container
                *ngIf="formControls?.lastName?.invalid && (formControls?.lastName?.dirty || formControls?.lastName?.touched)">
                <ng-container *ngIf="formControls?.lastName?.errors?.required">
                  <span class="text-danger fs-8-1">
                    {{'validations.lastName'|translate}}
                  </span>
                </ng-container>
                <ng-container *ngIf="formControls?.lastName?.errors?.minlength">
                  <span class="text-danger fs-8-1">
                    {{'validations.LastNameLength'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-4">
            <label for="email" class="required">{{'labels.email'|translate}}</label>
            <span class="p-input-icon-right w-100">
              <input type="text" id="email" class="form-control" formControlName="email"
                placeholder="{{'placeholders.email'|translate}}"
                [class.border-red]="(formControls?.email?.touched||formControls?.email?.dirty)&&formControls?.email?.invalid || isEmailFound"
                [class.is-valid]="(formControls?.email?.touched||formControls?.email?.dirty)&&formControls?.email?.valid&&!isEmailFound"
                (input)="publicService?.clearValidationErrors(formControls?.email)"
                (blur)="formControls?.email?.valid?isEmailFounded(this.personalInfoForm?.value?.email):''"
                (keyup)="onKeyUpEvent('email')">
              <ng-container *ngIf="isCheckEmail">
                <i class="pi pi-spin pi-spinner"></i>
              </ng-container>
            </span>
            <div class="mt-1">
              <ng-container
                *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
                <ng-container *ngIf="formControls?.email?.errors?.required">
                  <span class="text-danger fs-8-1">
                    {{'validations.email'|translate}}
                  </span>
                </ng-container>
                <ng-container *ngIf="formControls?.email?.errors?.pattern">
                  <span class="text-danger fs-8-1">
                    {{'validations.emailNotCorrect'|translate}}
                  </span>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="isEmailFound">
                <span class="text-danger fs-8-1 d-block">
                  {{'labels.email'|translate}} <span
                    class="form-label text-main-color fw-bold px-1">{{personalInfoForm?.value?.email}}</span>
                  {{'auth.isUsedBefore'|translate}}
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4"
        [disabled]="personalInfoForm?.invalid||isEmailFound">
        <span>
          {{'continue'}}
        </span>
      </button>
    </form>
    <div class="mt-5">
      <p class="d-flex justify-content-center align-items-center m-0 fs-8">
        <span>
          {{'auth.HaveAccount'|translate}}
        </span>
        <a class="text-main-color ps-1 pointer" [routerLink]="['/auth/login']">
          {{'auth.login'|translate}}
        </a>
      </p>
    </div>
  </div>
</div>