#personal-info {
  .form-btn {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
    height: 3.7rem;
    border-radius: var(--border-input-radius);
  }
}
@media (max-width: 587px) {
  #basic-info {
    .description {
      font-size: 0.9rem;
    }
  }
}
