.footer {
  background-color: #0353972b;
  border-radius: 30px 30px 0 0;
  .logo {
    width: 15rem;
    object-fit: contain;
  }
  .logo2 {
    // width: 250px;
    object-fit: fill;
  }
  .title {
    color: #333333;
  }
  .btn-submit {
    right: 0;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .browser {
    width: 25px;
  }

  a {
    color: #595959;
    font-size: 16px !important;
  }
  .desc {
    color: #595959;
    font-size: 15px !important;
  }
  li {
    list-style: none !important;
  }
}
.icons a {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  color: var(--bg-main-color);
}
.icons .pi {
  font-size: 1.2rem !important;
  color: var(--text-main-color) !important;
}
.form-control,
.btn {
  height: 2.9rem;
  border-radius: 7px;
}
.w-90 {
  width: 90%;
}
.btn-solid-main {
  min-width: 7rem;
  height: 2.9rem;
  color: var(--text-white-color);
  background-color: var(--bg-main-color);
  border-color: var(--text-main-color);
  border-radius: 0.5rem;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
