<div id="clients">
  <div class="d-md-flex d-none justify-content-between align-items-center flex-wrap gap-3">
    <ul class="d-flex align-items-center gap-3 p-0">
      <li class="d-flex align-items-center gap-2 tab" [class.active]="tabType=='employee'"
        (click)="showTabItems('employee')">
        <span>
          <app-dynamic-svg [name]="'employee'"></app-dynamic-svg>
        </span>
        <p class="mb-0 fs-5-2">
          {{'dashboard.employees.employees'|translate}}
        </p>
      </li>
      <li class="d-flex align-items-center gap-2 tab" [class.active]="tabType=='vehicle'"
        (click)="showTabItems('vehicle')">
        <span>
          <app-dynamic-svg [name]="'vehicle'"></app-dynamic-svg>
        </span>
        <p class="mb-0 fs-5-2">
          {{'dashboard.vehicles.vehicles'|translate}}
        </p>
      </li>
      <!-- <h4 class="mb-0 text-capitalize">{{'dashboard.employees.employees'|translate}}</h4>
      <span class="badge badge-main text-main-color d-flex justify-content-center align-items-center">
        {{clientsCount}}
      </span> -->
    </ul>
    <!-- <div class="d-flex gap-3 flex-xl-nowrap flex-wrap" *ngIf="list"> -->
    <div class="d-flex gap-3 flex-xl-nowrap flex-wrap">
      <!-- Add Customer -->
      <button class="btn btn-solid-main d-flex align-items-center gap-2 text-nowrap" (click)="addItem()">
        <i class="pi pi-plus"></i>
        <span>
          <ng-container *ngIf="tabType == 'employee'; else vehicles">
            {{'dashboard.employees.addEmployee'|translate}}
          </ng-container>
          <ng-template #vehicles>
            {{'dashboard.vehicles.addVehicle'|translate}}
          </ng-template>
        </span>
      </button>
      <!-- Filter Button -->
      <!-- <button [class.disabled-actions]="isLoadingList" *ngIf="list||ifFilteration()"
        [class.d-none]="dataStyleType=='list'" class="btn btn-solid-main d-flex align-items-center gap-2"
        (click)="filterItemModal()">
        <i class="pi pi-filter"></i>
      </button> -->
      <!-- Data style list 0or grid (table or card) -->
      <div *ngIf="list||ifFilteration()" [class.disabled-actions]="isLoadingList"
        class="data-style d-md-flex d-none align-items-center gap-2 p-2">
        <a class="scaleX-rtl" [class.active]="dataStyleType=='list'" (click)="changeDateStyle('list')">
          <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
        </a>
        <a class="scaleX-rtl" [class.active]="dataStyleType=='grid'" (click)="changeDateStyle('grid')">
          <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
        </a>
      </div>
      <!-- Search Handler -->
      <div *ngIf="list||ifFilteration()" [class.disabled-actions]="isLoadingList" class="search" role="search">
        <div class="input-group bg-white-color d-flex flex-nowrap">
          <span class="input-group-text border-0" id="basic-addon1">
            <i class="pi pi-search text-muted-color"></i>
          </span>
          <span class="p-input-icon-right d-inline-block w-100">
            <i *ngIf="isLoadingSearch" class="pi pi-spin pi-spinner"></i>
            <i *ngIf="!isLoadingSearch&&search.value" class="pi pi-times text-danger pointer"
              (click)="clearSearch(search)"></i>
            <input type="text" class="form-control border-0 bg-transparent px-1" #search
              (keyup)="handleSearch(search.value)" placeholder="{{'placeholders.search' | translate}}"
              [(ngModel)]="searchKeyword" [readOnly]="isLoadingSearch" aria-label="search"
              aria-describedby="basic-addon1">
          </span>
        </div>
      </div>
      <!-- Clear -->
      <button *ngIf="list||ifFilteration()" [class.disabled-actions]="isLoadingList"
        class="btn btn-outline-main d-flex align-items-center gap-2 text-nowrap" (click)="clearTable()">
        <i class="pi pi-refresh"></i>
        <span>{{'general.reset'|translate}}</span>
      </button>
    </div>
  </div>
  <div class="d-md-none d-block">
    <div class="d-flex justify-content-between gap-3 flex-wrap title-header">
      <ul class="d-flex align-items-center gap-3 p-0">
        <li class="d-flex align-items-center gap-2 tab" [class.active]="tabType=='employee'"
          (click)="showTabItems('employee')">
          <span>
            <app-dynamic-svg [name]="'employee'"></app-dynamic-svg>
          </span>
          <p class="mb-0 fs-5-2">
            {{'dashboard.employees.employees'|translate}}
          </p>
        </li>
        <li class="d-flex align-items-center gap-2 tab" [class.active]="tabType=='vehicle'"
          (click)="showTabItems('vehicle')">
          <span>
            <app-dynamic-svg [name]="'vehicle'"></app-dynamic-svg>
          </span>
          <p class="mb-0 fs-5-2">
            {{'dashboard.vehicles.vehicles'|translate}}
          </p>
        </li>
        <!-- <h4 class="mb-0 text-capitalize">{{'dashboard.employees.employees'|translate}}</h4>
        <span class="badge badge-main text-main-color d-flex justify-content-center align-items-center">
          {{clientsCount}}
        </span> -->
      </ul>
      <div class="d-flex gap-2">
        <button class="btn btn-solid-main d-flex align-items-center gap-2 text-nowrap" (click)="addItem()">
          <i class="pi pi-plus"></i>
          <span>
            <ng-container *ngIf="tabType == 'employee'; else vehicles">
              {{'dashboard.employees.addEmployee'|translate}}
            </ng-container>
            <ng-template #vehicles>
              {{'dashboard.vehicles.addVehicle'|translate}}
            </ng-template>
          </span> </button>
        <!-- Filter Button -->
        <!-- <button [class.disabled-actions]="isLoadingList" *ngIf="list||ifFilteration()"
          class="btn btn-solid-main d-flex align-items-center gap-2" (click)="filterItemModal()">
          <i class="pi pi-filter"></i>
        </button> -->
      </div>
    </div>
    <div class="row mt-3 mx-0" [class.disabled-actions]="isLoadingList" *ngIf="list||ifFilteration()">
      <!-- Search Handler -->
      <div class="col-sm-8 col-9">
        <div class="search" role="search">
          <div class="input-group bg-white-color d-flex flex-nowrap w-100">
            <span class="input-group-text border-0" id="basic-addon1">
              <i class="pi pi-search text-muted-color"></i>
            </span>
            <span class="p-input-icon-right d-inline-block w-100">
              <i *ngIf="isLoadingSearch" class="pi pi-spin pi-spinner"></i>
              <i *ngIf="!isLoadingSearch&&search2.value" class="pi pi-times text-danger pointer"
                (click)="clearSearch(search2)"></i>
              <input type="text" class="form-control border-0 bg-transparent px-1" #search2 [(ngModel)]="searchKeyword"
                (keyup)="handleSearch(search2.value)" placeholder="{{'placeholders.search' | translate}}"
                [readOnly]="isLoadingSearch" aria-label="search" aria-describedby="basic-addon1">
            </span>
          </div>
        </div>
      </div>
      <!-- Clear -->
      <div class="col-sm-4 col-3 d-flex justify-content-end">
        <button class="btn btn-outline-main d-flex align-items-center gap-2 text-nowrap h-100" (click)="clearTable()">
          <i class="pi pi-refresh"></i>
          <span class="d-sm-inline-block d-none">{{'general.reset'|translate}}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="global-card p-4 mt-4">
    <ng-container *ngIf="tabType=='employee'">
      <employees-list [recordId]="recordId"></employees-list>
    </ng-container>
    <ng-container *ngIf="tabType=='vehicle'">
      <vehicles-list [recordId]="recordId"></vehicles-list>
    </ng-container>
  </div>
</div>