<form [formGroup]="modalForm" (submit)="submit()" class="second-form-style">
  <div class="mb-3">
    <label for="name" class="form-label required">
      {{"labels.name"|translate}}
    </label>
    <input type="text" id="name" class="form-control" formControlName="name"
      placeholder="{{'placeholders.name'|translate}}"
      [class.border-red]="(formControls?.name?.touched||formControls?.name?.dirty)&&formControls?.name?.invalid"
      [class.valid]="(formControls?.name?.touched||formControls?.name?.dirty)&&formControls?.name?.valid "
      (input)="publicService?.clearValidationErrors(formControls?.name)">
    <ng-container *ngIf="formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)">
      <div class="mt-1">
        <ng-container *ngIf="formControls?.name?.errors?.required">
          <span class="text-danger fs-8">
            {{'validations.requiredField'|translate}}
          </span>
        </ng-container>
        <ng-container *ngIf="formControls?.name?.errors?.minlength">
          <span class="text-danger fs-8">
            {{'validations.nameLength'|translate}}
          </span>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="d-flex flex-wrap justify-content-end gap-3 mt-5">
    <button type="button" class="btn btn-outline-main btn-sm d-flex align-items-center justify-content-center gap-3"
      (click)="cancel()">
      <span>{{'general.cancel'|translate}}</span>
      <i class="pi pi-times"></i>
    </button>
    <button class="btn btn-solid-main btn-sm d-flex align-items-center justify-content-center gap-3" type="submit">
      <span>{{'general.save'|translate}}</span>
      <i class="pi pi-save fs-8"></i>
    </button>
  </div>
</form>
