<div class="d-flex justify-content-center align-items-center min-vh-100 position-fixed loader-container">
  <!-- <div class="loader">
    <span>Loading...</span>
  </div> -->
  <!-- <div id="page">
    <div id="container">
      <div id="ring"></div>
      <div id="ring"></div>
      <div id="ring"></div>
      <div id="ring"></div>
      <div id="h3">loading</div>
    </div>
  </div> -->
  <div class="cube div">
    <div class="top div"></div>
    <div class="div">
      <span class="span" style="--i: 0">
        <p>
          <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo">
        </p>
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
      </span>
      <span class="span" style="--i: 1">
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
      </span>
      <span class="span" style="--i: 2">
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
      </span>
      <span class="span" style="--i: 3">
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
        <p> <img src="assets/images/logo/white-logo.svg" alt="logo" class="logo"></p>
      </span>
    </div>
  </div>

</div>