#forget-password {
  .form-logo {
    width: 4rem;
  }
  .form-btn {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
    height: 3.7rem;
    border-radius: var(--border-input-radius);
  }
}
@media (max-width: 587px) {
  #forget-password {
    .fs-1 {
      font-size: 1.4rem !important;
    }
    .description {
      font-size: 0.9rem;
    }
    .w-75 {
      width: 100% !important;
    }
  }
}
