<div id="forget-password" class="auth-form">
  <div class="d-flex justify-content-between gap-3 align-items-center flex-wrap mb-5">
    <a class="d-flex gap-2 align-items-center" routerLink="/Auth/Login">
      <i class="pi pi-arrow-left scaleX-rtl"></i>
      <span class="d-sm-block d-none">
        {{'auth.backLogin'|translate}}
      </span></a>
    <language-selector></language-selector>
  </div>
  <div class="d-lg-none d-flex justify-content-center">
    <img src="assets/images/auth/auth-logo-dark.svg" class="form-logo mb-3" alt="logo" [routerLink]="['']">
  </div>
  <h2 class="fs-1 text-center">
    {{'auth.forgotPasswordTitle'|translate}}
  </h2>
  <p class="mt-2 text-center w-75 w-sm-100 m-auto lh-base">
    {{'auth.forgetPasswordText'|translate}}
  </p>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()" class="py-5" [class.opacity-50]="isLoadingBtn">
    <div>
      <div>
        <label for="email" class="required">
          {{'labels.email'|translate}}
        </label>
        <input type="email" class="form-control" formControlName="email" autocomplete="cc-name" id="email"
          (input)="publicService.clearValidationErrors(formControls?.email)"
          [class.is-invalid]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
          placeholder="{{'placeholders.email'|translate}}">
      </div>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
          <ng-container *ngIf="formControls?.email?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.email'|translate}}
            </span>
          </ng-container>

          <ng-container *ngIf="formControls?.email?.errors?.['pattern']">
            <span class="text-danger fs-8">
              {{'validations.emailNotCorrect'|translate}}
            </span>
          </ng-container>
        </ng-container>

      </div>
    </div>

    <button type="submit"
      class="btn w-100 btn-solid-main form-btn mt-4 d-flex justify-content-center align-items-center gap-2">
      <span>
        {{'auth.continue'|translate}}
      </span>
      <ng-container *ngIf="isLoadingBtn">
        <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
      </ng-container>
    </button>
  </form>

  <div class="text-center mt-5">
    <p class="mb-0"><span>
        {{'auth.notMember'|translate}}
      </span><a class="text-main-color ps-1" [routerLink]="['/Auth/Supplier-Registration']">
        {{'auth.register'|translate}}
      </a>
    </p>
  </div>

</div>