<div class="dropdown-language general-dropdown">
  <div class="dropdown">
    <button class="dropdown-toggle lang-flag btn p-0 d-flex align-items-center gap-1" type="button"
      [ngClass]="shouldApplyDarkToggle()?'text-white-color':'text-dark-color dark-toggle'" data-bs-toggle="dropdown"
      aria-expanded="false">
      <span class="d-xl-flex d-none">
        <ng-container *ngIf="currentLanguage=='ar'">
          <img class="flag" ngSrc="assets/images/flag/sa.svg" width="200" height="150" priority alt="saudi flag">
        </ng-container>
        <ng-container *ngIf="currentLanguage=='en'">
          <img class="flag" ngSrc="assets/images/flag/us.svg" width="200" height="150" priority alt="english flag">
        </ng-container>
        <ng-container *ngIf="currentLanguage=='ru'">
          <img class="flag" ngSrc="assets/images/flag/ru.svg" width="200" height="150" priority alt="russian flag">
        </ng-container>
        <ng-container *ngIf="currentLanguage=='zh'">
          <img class="flag" ngSrc="assets/images/flag/cn.svg" width="200" height="150" priority alt="chines flag">
        </ng-container>
      </span>
      <i class="pi pi-language fs-4 d-xl-none d-flex"></i>
      <span class="lang">
        {{currentLanguage=='ar'?'عربي':currentLanguage=='ru'?'Рой':currentLanguage=='zh'?'尼亞尼':'EN'}}
      </span>
    </button>
    <ul class="dropdown-menu rounded-25 border-0 shadow p-3" aria-labelledby="dropdownMenuButton1">
      <li class="nav-item " (click)="translationService.changeLang('ar')">
        <span class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag" ngSrc="assets/images/flag/sa.svg" width="200" height="150" priority alt="Arabic flag">
          <span>
            العربية
          </span>
        </span>
      </li>
      <li class="nav-item " (click)="translationService.changeLang('en')">
        <span class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag" ngSrc="assets/images/flag/us.svg" width="200" height="150" priority alt="English flag">
          <span>
            English
          </span>
        </span>
      </li>
      <li class="nav-item " (click)="translationService.changeLang('ru')">
        <span class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag shadow-sm" ngSrc="assets/images/flag/ru.svg" width="200" height="150" priority
            alt="russian flag">
          <span>
            Рой
          </span>
        </span>
      </li>
      <li class="nav-item " (click)="translationService.changeLang('zh')">
        <span class="nav-link px-2 p-1 d-flex align-items-center gap-2">
          <img class="flag shadow-sm" ngSrc="assets/images/flag/cn.svg" width="200" height="150" priority
            alt="chines flag">
          <span>
            尼亞尼
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>