<p>supplier-bank-info works!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem culpa assumenda nisi accusantium deserunt, ex illum
  architecto facilis ratione iure aut explicabo suscipit et commodi? Nihil, deserunt. Inventore, consequuntur aliquam.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus eum placeat deleniti, aliquid architecto quia
  corrupti expedita voluptate corporis quidem? Odio eius natus voluptatem? Ipsa odit cumque amet incidunt velit?
</p>
